.header {
  border-bottom: 1px solid var(--gray-100);
  padding: 2rem;
  background-color: var(--white);
}

.headerContent {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoArea {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 5px;
  }

  hr {
    height: 2rem;
    width: 2px;
    background: var(--gray-100);
    margin: 0 2rem;
  }

}

.dateArea > span {
  text-transform: capitalize;
}